:root {
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(./assets/images/webb.png);
}

.App {
  display: inline-block;
  margin: 30px;
  padding: 30px;
  border-radius: 5px;
  background-color: #0890eb;
  background-image: url(./assets/images/back2.png);
  color: white;
}

.game__title {
  text-align: center;
  user-select: none;
}
