.settings-wrapper {
  margin-top: 30px;
  text-align: left;
}

.settings-wrapper__item {
  margin-bottom: 20px;
}

.settings-wrapper__item-mines {
  margin-bottom: 30px;
}

.settings-item__title {
  margin-bottom: 5px;
}

.settings-input {
  background-color: skyblue;
  outline: none;
  width: 100%;
  height: 20px;
  -webkit-appearance: none;
}

.settings-input::-webkit-slider-thumb {
  background-color: dimgray;
	border: none;
	border-radius: 0;
	width: 20px;
	height: 20px;
  -webkit-appearance: none;
}

.settings-button {
  background-color: #206592;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  outline: none;
  padding: 10px;
  transition-duration: 0.2s;
  width: 100%;
}

.settings-button:hover {
  background-color: #1c567d;
}
